<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
<link id="base-style" href="css/style.css" rel="stylesheet">
<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>

<div class="box span12">
	<div class="box-header" data-original-title="">
		<h2><i class="halflings-icon user"></i><span class="break"></span>Members</h2>
		<div class="box-icon">
			<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
			<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
			<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
		</div>
	</div>
	<div class="box-content">
		<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
			<div class="row-fluid"><div class="span6"><div id="DataTables_Table_0_length" class="dataTables_length"><label><select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div></div><div class="span6"><div class="dataTables_filter" id="DataTables_Table_0_filter"><label>Search: <input type="text" aria-controls="DataTables_Table_0"></label></div></div></div><table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
				<thead>
					<tr role="row"><th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending" style="width: 167px;">Username</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date registered: activate to sort column ascending" style="width: 241px;">Date registered</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 132px;">Role</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 150px;">Status</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 298px;">Actions</th></tr>
				</thead>

				<tbody role="alert" aria-live="polite" aria-relevant="all">
					<tr class="odd">
						<td class="  sorting_1">Dennis Ji</td>
						<td class="center ">2012/01/01</td>
						<td class="center ">Member</td>
						<td class="center ">
							<span class="label label-success">Active</span>
						</td>
						<td class="center ">
							<a class="btn btn-success" href="#">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a class="btn btn-info" href="#">
								<i class="halflings-icon white edit"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>
					</tr>
					<tr class="even">
						<td class="  sorting_1">Dennis Ji</td>
						<td class="center ">2012/01/01</td>
						<td class="center ">Member</td>
						<td class="center ">
							<span class="label label-success">Active</span>
						</td>
						<td class="center ">
							<a class="btn btn-success" href="#">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a class="btn btn-info" href="#">
								<i class="halflings-icon white edit"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="  sorting_1">Dennis Ji</td>
						<td class="center ">2012/01/01</td>
						<td class="center ">Member</td>
						<td class="center ">
							<span class="label label-success">Active</span>
						</td>
						<td class="center ">
							<a class="btn btn-success" href="#">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a class="btn btn-info" href="#">
								<i class="halflings-icon white edit"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>

					</tr>
					<tr class="even">
						<td class="  sorting_1">Dennis Ji</td>
						<td class="center ">2012/01/01</td>
						<td class="center ">Member</td>
						<td class="center ">
							<span class="label label-success">Active</span>
						</td>
						<td class="center ">
							<a class="btn btn-success" href="#">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a class="btn btn-info" href="#">
								<i class="halflings-icon white edit"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="  sorting_1">Dennis Ji</td>
						<td class="center ">2012/02/01</td>
						<td class="center ">Staff</td>
						<td class="center ">
							<span class="label label-important">Banned</span>
						</td>
						<td class="center ">
							<a class="btn btn-success" href="#">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a class="btn btn-info" href="#">
								<i class="halflings-icon white edit"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>
					</tr>
					<tr class="even">
						<td class="  sorting_1">Dennis Ji</td>
						<td class="center ">2012/02/01</td>
						<td class="center ">Staff</td>
						<td class="center ">
							<span class="label label-important">Banned</span>
						</td>
						<td class="center ">
							<a class="btn btn-success" href="#">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a class="btn btn-info" href="#">
								<i class="halflings-icon white edit"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="  sorting_1">Dennis Ji</td>
						<td class="center ">2012/03/01</td>
						<td class="center ">Member</td>
						<td class="center ">
							<span class="label label-warning">Pending</span>
						</td>
						<td class="center ">
							<a class="btn btn-success" href="#">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a class="btn btn-info" href="#">
								<i class="halflings-icon white edit"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>
					</tr>
					<tr class="even">
						<td class="  sorting_1">Dennis Ji</td>
						<td class="center ">2012/03/01</td>
						<td class="center ">Member</td>
						<td class="center ">
							<span class="label label-warning">Pending</span>
						</td>
						<td class="center ">
							<a class="btn btn-success" href="#">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a class="btn btn-info" href="#">
								<i class="halflings-icon white edit"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="  sorting_1">Dennis Ji</td>
						<td class="center ">2012/01/21</td>
						<td class="center ">Staff</td>
						<td class="center ">
							<span class="label label-success">Active</span>
						</td>
						<td class="center ">
							<a class="btn btn-success" href="#">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a class="btn btn-info" href="#">
								<i class="halflings-icon white edit"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>
					</tr>
					<tr class="even">
						<td class="  sorting_1">Dennis Ji</td>
						<td class="center ">2012/01/21</td>
						<td class="center ">Staff</td>
						<td class="center ">
							<span class="label label-success">Active</span>
						</td>
						<td class="center ">
							<a class="btn btn-success" href="#">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a class="btn btn-info" href="#">
								<i class="halflings-icon white edit"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>
					</tr>
				</tbody>
		</div>
	</div>
</div>